

/*container for logo*/
.logo-container {
	height: 10em;
	width: 80%;
	background-image: url(../assets/copalogo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin: 1em auto;
}

.title {
  width: 100%;
  font-size: 1.2em;
  margin: 0 auto;
}

/*container for forms*/
.login-form-container {
	overflow: auto;
	position: relative;
	width: 100%;
	max-width: 25em;
	margin: 0 auto 2em auto;
}


.login-input {
	border: 0;
	outline: 0;
	background: transparent;
	width: 98%;
	margin: 0.5em 0 0.5em 1%;
	line-height: 1.5em;
	border-bottom: 1px solid #c0c0c0 ;
	text-align: left;
	font-size: 1.2em;

}

.login-input:focus {
	border-bottom: 2px solid #dedede;
	text-align: left;
	font-size: 1.2em;

}
