.user-table {
  width: 100%;
  margin-top: 0;
}

.caption {
  background-color: #d50000;
  line-height: 2em;
  color: white;
}

.row {
  width: 100%;
  line-height: 2em;
  height: 2em;
  background-color: #e3f2fd;
  color: black;
}

.table-head {
  height: 2em;
}

@media (max-width: 500px) {
  .caption {
    font-size: 0.7em;
  }
  .table-head {
    font-size: 0.4em;
  }

  .row {
    font-size: 0.8em;
  }
}
