.group-table {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1em;
}

.caption {
  background-color: #d50000;
  line-height: 4em;
  color: white;
  font-size: 1em
}

.row {
  width: 100%;
  line-height: 3em;
  height: 3em;
  background-color: #e3f2fd;
  color: black;
}

.table-head {
  height: 3em;
}

.table-head-narrow {
  height: 3em;
}



@media (max-width: 500px) {
  .caption {
    font-size: 0.8em;
  }
  .table-head {
    font-size: 0.6em;
  }
  .table-head-narrow {
    font-size: 0.6em;
  }
}
