.group-table {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 3em;
}

caption {
  background-color: #d50000;
  line-height: 4em;
  color: white;
}

.row {
  width: 100%;
  line-height: 3em;
  height: 3em;
  background-color: #e3f2fd;
  color: black;
}

.table-head {
  height: 3em;
}
