.standings-title {
  width: 99.5%;
  margin-left: 0.25%;
  margin-top: 0;
  background-color: #d50000;
  height: 2em;
  line-height: 2em;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 1em;
}

.legend-container {
  height: 2em;
  margin-left: 25%;
  width: 50%;
  display: inline-block;
}

.legend {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  width: 47.5%;
  color: white;
  text-align: center;
}

.first {
  background-color: #2962ff;
  margin-right: 2.5%;
}

.second {
  background-color: #d50000;
  margin-left: 2.5%;

}

@media (max-width: 500px) {
  .legend {
    font-size: 0.6em;
  }
  .pick-status {
    font-size: 0.8em;
  }
}
