.flag-td {
  width: 20%;
  height: 8em;
  border-bottom: 1px solid gray;

}

.name-td {
  width: 20%;
  height: 8em;
  text-align: center;
  border-bottom: 1px solid gray;

}

.narrow-td {
  width: 20%;
  border-bottom: 1px solid gray;

}



.mid-align {
  text-align: center;
  border-bottom: 1px solid gray;

}

.team-row {
  border-bottom: 1px solid gray;
}
