.sub-header {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* min-height: 4em; */
  width: 100%;
  /* line-height: 4em; */
}

.nav-link {
  display: inline-block;
  width: 25%;
  min-height: 4em;
  text-align: center;
  vertical-align: center;
  padding-top: 1em;
  border-right: 1px solid #ffebee;
  background-color: #0d47a1;
  color: white;
}

.nav-link:hover {
  background-color: #039be5;
  cursor: pointer
}


@media (max-width: 500px) {
  .nav-link {
    font-size: 0.8em;
  }

}
