.sub-header {
  margin-bottom: 2em;
  padding: 0;
  overflow: hidden;
  height: 4em;
  line-height: 4em;
}

.nav-link {
  display: inline-block;
  width: 50%;
  text-align: center;
  border: 1px solid #ffebee;
  background-color: #0d47a1;
  color: white;
}

.nav-link:hover {
  background-color: #039be5;
  cursor: pointer
}
