.team-scorer-table {
  width: 90%;
  margin-left: 5%;
  margin-top: 0;
}

.team-scorer-caption {
  background-color: #d50000;
  line-height: 2em;
  color: white;
}

.team-scorer-row {
  width: 100%;
  line-height: 1em;
  height: 1em;
  background-color: #e3f2fd;
  color: black;
}

.team-scorer-table-head {
  height: 1em;
}

@media (max-width: 500px) {
  .team-scorer-caption {
    font-size: 0.7em;
  }
  .team-scorer-table-head {
    font-size: 0.6em;
    height: 1em;
  }
}
