/*main header*/
.main-header {
	overflow: auto;
	background-color: #d50000;
  padding: 0;
  margin: 0;
	padding-top: 0.5em;
  height: 9em;
  width: 100%;
	text-align: center;
	color: white;
}

/*menu icon*/
.signout {
  position: absolute;
  left: 0;
  top: 15px;
  min-height: 3em;
	margin-left: 1em;
  min-width: 4em;
  float: left;
  cursor: pointer;
  font-size: 0.8em;
}

.signout:hover {
  color:#c0c0c0;
}

.title {
  width: 100%;
  font-size: 1.2em;
  margin: 0 auto;
}


/*for responsive design in narrower screens*/
@media (max-width: 450px) {
  .current-user-container {
    display: none;
  }

}

@media (max-width: 260px) {
  .header-logo-container {
    display: none;
  }

}
